---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
spec:
  chartRef:
    kind: OCIRepository
    name: node-feature-discovery
  interval: 1h
  values:
    master:
      replicaCount: 2
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
      resources:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          memory: 256Mi
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - node-feature-discovery
                    - key: app.kubernetes.io/component
                      operator: In
                      values:
                        - master
                topologyKey: kubernetes.io/hostname
    worker:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
      resources:
        requests:
          cpu: 5m
          memory: 32Mi
        limits:
          memory: 128Mi
      updateStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
    prometheus:
      enable: true
