# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: garage
spec:
  chartRef:
    kind: OCIRepository
    name: garage
  interval: 1h
  values:
    controllers:
      garage:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.2.0@sha256:45a61ce3f7c9c24fc23d9ed2b09b27ed560ab87b34605d175d5c588f539c24e4
            env:
              TZ: ${TIMEZONE}
            envFrom:
              - secretRef:
                  name: garage-secrets
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 3000
            runAsGroup: 3002
            fsGroup: 3002
            fsGroupChangePolicy: OnRootMismatch
        statefulset:
          volumeClaimTemplates: []

    service:
      app:
        controller: garage
        ports:
          s3:
            port: 3900
          rpc:
            port: 3901
          api:
            port: 3903

    persistence:
      config:
        type: configMap
        name: garage-config
        globalMounts:
          - path: /etc/garage.toml
            subPath: garage.toml
      garage:
        type: nfs
        server: ${RACKNAS_ADDR}
        path: /volume1/garage
        globalMounts:
          - path: /data
            subPath: data
          - path: /meta
            subPath: meta
