---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: echo
spec:
  interval: 1h
  path: ./kubernetes/apps/echo/echo/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
        namespace: flux-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: echo
  wait: false
