---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: intel-gpu-plugin
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: intel-gpu-plugin
  dependsOn:
    - name: node-feature-discovery
      namespace: kube-system
  path: ./kubernetes/apps/kube-system/intel-gpu-plugin/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  interval: 1h
  retryInterval: 1m
  timeout: 5m
