# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio
spec:
  chartRef:
    kind: OCIRepository
    name: minio
  interval: 1h
  values:
    controllers:
      minio:
        type: statefulset
        replicas: 2
        containers:
          app:
            image:
              repository: quay.io/minio/minio
              tag: RELEASE.2025-09-07T16-13-09Z@sha256:a1a8bd4ac40ad7881a245bab97323e18f971e4d4cba2c2007ec1bedd21cbaba2
            args:
              - server
              - --console-address=:9001
              - http://minio-{0...1}.minio.storage.svc.cluster.local/data
            env:
              MINIO_ROOT_USER:
                valueFrom:
                  secretKeyRef:
                    name: minio-secrets
                    key: MINIO_ROOT_USER
              MINIO_ROOT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: minio-secrets
                    key: MINIO_ROOT_PASSWORD
              MINIO_UPDATE: "off"
              MINIO_BROWSER_REDIRECT_URL: https://minio.${SECRET_DOMAIN}
              MINIO_IDENTITY_OPENID_DISPLAY_NAME: Login with Authentik
              # yamllint disable-line rule:line-length
              MINIO_IDENTITY_OPENID_CONFIG_URL: https://auth.${SECRET_DOMAIN}/application/o/minio/.well-known/openid-configuration
              MINIO_IDENTITY_OPENID_CLIENT_ID:
                valueFrom:
                  secretKeyRef:
                    name: minio-secrets
                    key: MINIO_OIDC_CLIENT_ID
              MINIO_IDENTITY_OPENID_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: minio-secrets
                    key: MINIO_OIDC_CLIENT_SECRET
              MINIO_IDENTITY_OPENID_SCOPES: openid,profile,email
              MINIO_SCANNER_SPEED: slowest
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /minio/health/live
                    port: 9000
                  initialDelaySeconds: 0
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probe
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /minio/health/live
                    port: 9000
                  initialDelaySeconds: 5
                  periodSeconds: 5
                  failureThreshold: 30
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 2Gi
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        statefulset:
          volumeClaimTemplates:
            - name: data
              accessMode: ReadWriteOnce
              size: 50Gi
              storageClass: longhorn
              labels:
                recurring-job-group.longhorn.io/backup-24h: enabled
                recurring-job-group.longhorn.io/default: enabled
              globalMounts:
                - path: /data

    service:
      app:
        controller: minio
        ports:
          http:
            port: 9001
          s3:
            port: 9000

    route:
      app:
        hostnames: ["minio.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: gateway
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 9001

    serviceMonitor:
      app:
        serviceName: minio
        endpoints:
          - port: s3
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
