---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: database-postgres-databases
  namespace: database
spec:
  interval: 1h
  path: ./kubernetes/apps/database/postgres/databases
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: database
  wait: true
  dependsOn:
    - name: database-postgres
