---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-anime-config
  labels:
    recurring-job-group.longhorn.io/backup-24h: enabled
    recurring-job-group.longhorn.io/default: enabled
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
  volumeName: pvc-e077551b-2a3d-408d-8cdb-e09e9befeecc
