---
apiVersion: v1
kind: Secret
metadata:
  name: external-dns-secret
stringData:
  aws-access-key-id: "#{ externaldns_aws_access_key_id }#"
  aws-secret-access-key: "#{ externaldns_aws_secret_key }#"
