---
aws_region: "{{ bootstrap_aws_region }}"
aws_domain: "{{ bootstrap_aws_domain }}"
aws_access_key: "{{ bootstrap_terraform_aws_access_key }}"
aws_secret_access_key: "{{ bootstrap_terraform_aws_secret_access_key }}"
aws_kms_arn: "{{ bootstrap_terraform_state_kms_arn }}"
aws_s3_bucket: "{{ bootstrap_terraform_state_s3_bucket }}"
ingress_internal: "{{ bootstrap_internal_ingress_addr }}"
ingress_external: "{{ bootstrap_external_ingress_addr }}"
