---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: auth

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./postgres/ks.yaml
  - ./authentik/ks.yaml
