---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-redis
spec:
  chartRef:
    kind: OCIRepository
    name: immich-redis
  interval: 1h
  values:
    controllers:
      immich-redis:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: valkey/valkey
              tag: 8.1.5-alpine@sha256:3c3ccc8571d4866ec5ac5ffb2519b6b6a1fdbf6b5ff5fdab075413026fbff273
            env:
              TZ: ${TIMEZONE}
            command:
              - valkey-server
              - --bind
              - "0.0.0.0"
              - --aclfile
              - /etc/redis/users.acl
              - --save
              - "60"
              - "1"
              - --loglevel
              - warning
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - valkey-cli
                      - ping
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 50m
                memory: 64Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: immich-redis
        ports:
          http:
            port: 6379
    persistence:
      data:
        existingClaim: immich-redis-data
        globalMounts:
          - path: /data
      acl-config:
        type: secret
        name: immich-redis-acl
        globalMounts:
          - path: /etc/redis/users.acl
            subPath: users.acl
            readOnly: true
