---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-ml-cache
  labels:
    recurring-job-group.longhorn.io/backup-24h: enabled
    recurring-job-group.longhorn.io/default: enabled
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-ml-dot-config
  labels:
    recurring-job-group.longhorn.io/backup-24h: enabled
    recurring-job-group.longhorn.io/default: enabled
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-ml-dot-cache
  labels:
    recurring-job-group.longhorn.io/backup-24h: enabled
    recurring-job-group.longhorn.io/default: enabled
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
