---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./whisper/ks.yaml
  - ./piper/ks.yaml
  - ./node-red/ks.yaml
  - ./mosquitto/ks.yaml
