# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
spec:
  chartRef:
    kind: OCIRepository
    name: sabnzbd
  interval: 1h
  values:
    controllers:
      sabnzbd:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5@sha256:485440a3e9209a3515c01e1c73d6088726491a292302a721d4cb9e7c6375c768
            envFrom:
              - secretRef:
                  name: sabnzbd-secrets
            env:
              TZ: ${TIMEZONE}
              SABNZBD__PORT: &port 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.downloads,
                sabnzbd.downloads.svc,
                sabnzbd.downloads.svc.cluster,
                sabnzbd.downloads.svc.cluster.local,
                sabnzbd.${SECRET_DOMAIN}
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 20
                  timeoutSeconds: 5
                  failureThreshold: 3
              startup:
                enabled: false
            securityContext:
              runAsUser: 568
              runAsGroup: 568
              fsGroup: 568
              fsGroupChangePolicy: "OnRootMismatch"
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 6Gi
          vpn:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            envFrom:
              - secretRef:
                  name: provider-config
            env:
              TZ: ${TIMEZONE}
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              capabilities:
                add:
                  - NET_ADMIN
    service:
      app:
        controller: sabnzbd
        ports:
          http:
            port: 8080
      proxy:
        controller: sabnzbd
        ports:
          proxy:
            port: 8888
      ext-proxy:
        controller: sabnzbd
        type: LoadBalancer
        annotations:
          metallb.universe.tf/loadBalancerIPs: ${PROXY_LB}
        externalTrafficPolicy: Local
        ports:
          proxy:
            port: 8888
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: gateway
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8080
    persistence:
      config:
        existingClaim: sabnzbd-config
        globalMounts:
          - path: /config
      downloads:
        existingClaim: sabnzbd-downloads
        globalMounts:
          - path: /downloads
      library:
        type: nfs
        server: ${RACKNAS_ADDR}
        path: /volume1/media/Temp
        globalMounts:
          - path: /library/Temp
