---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
spec:
  chartRef:
    kind: OCIRepository
    name: sabnzbd
  interval: 1h
  values:
    controllers:
      sabnzbd:
        replicas: 1
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5@sha256:da57e01cdebc547852b6df85c8df8c0e4d87792742c7608c5590dc653b184e8c
            envFrom:
              - secretRef:
                  name: sabnzbd-secrets
            env:
              TZ: ${TIMEZONE}
              SABNZBD__PORT: 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.downloads,
                sabnzbd.downloads.svc,
                sabnzbd.downloads.svc.cluster,
                sabnzbd.downloads.svc.cluster.local,
                sabnzbd.${SECRET_DOMAIN}
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 8Gi
          # vpn:
          #   image:
          #     repository: ghcr.io/qdm12/gluetun
          #     tag: v3.35.0@sha256:a98d1ec99e09a1b806aff7f0c3d8a133a8ede7d3d7a250b62029a39a61f01525
          #   envFrom:
          #     - secretRef:
          #         name: primary-conf93
          #   env:
          #     TZ: ${TIMEZONE}
          #     VPN_SERVICE_PROVIDER: custom
          #     VPN_TYPE: wireguard
          #     FIREWALL_OUTBOUND_SUBNETS: "10.96.0.0/12"
          #     DOT: "off"
          #     DNS_KEEP_NAMESERVER: "off"
          #     DNS_ADDRESS: "10.96.0.10"
          #     BLOCK_MALICIOUS: "off"
          #     HTTPPROXY: "on"
          #     HTTPPROXY_LISTENING_ADDRESS: ":8888"
          #     HTTPPROXY_STEALTH: "on"
          #     HTTPPROXY_LOG: "on"
          #     SHADOWSOCKS: "off"
          #   securityContext:
          #     privileged: true
    service:
      app:
        controller: sabnzbd
        ports:
          http:
            port: 8080
      # proxy:
      #   controller: sabnzbd
      #   ports:
      #     proxy:
      #       port: 8888
      # ext-proxy:
      #   controller: sabnzbd
      #   type: LoadBalancer
      #   annotations:
      #     io.cilium/lb-ipam-ips: ${PROXY_LB}
      #   externalTrafficPolicy: Local
      #   ports:
      #     proxy:
      #       port: 8888
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: gateway
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8080
    persistence:
      config:
        existingClaim: sabnzbd-config
        globalMounts:
          - path: /config
      downloads:
        existingClaim: sabnzbd-downloads
        globalMounts:
          - path: /downloads
      library:
        type: nfs
        server: ${RACKNAS_ADDR}
        path: /volume1/media/Temp
        globalMounts:
          - path: /library/Temp
