---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_ACME_EMAIL: "{{ bootstrap_acme_email }}"
  SECRET_AWS_REGION: "{{ bootstrap_aws_region }}"
  SECRET_DOMAIN: "{{ bootstrap_aws_domain }}"
