---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets-user
  namespace: flux-system
stringData:
  SECRET_PRIMARY_NFS_ADDR: "{{ bootstrap_nfs_racknas }}"
  SECRET_AWS_SMTP_USERNAME: "{{ bootstrap_aws_smtp_username }}"
  SECRET_AWS_SMTP_PASSWORD: "{{ bootstrap_aws_smtp_password }}"
