# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: garage-webui
spec:
  chartRef:
    kind: OCIRepository
    name: garage-webui
  interval: 1h
  values:
    controllers:
      garage-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: khairul169/garage-webui
              tag: 1.1.0@sha256:17c793551873155065bf9a022dabcde874de808a1f26e648d4b82e168806439c
            env:
              API_BASE_URL: http://garage.storage.svc.cluster.local:3903
              S3_ENDPOINT_URL: http://garage.storage.svc.cluster.local:3900
              API_ADMIN_KEY:
                valueFrom:
                  secretKeyRef:
                    name: garage-secrets
                    key: GARAGE_ADMIN_TOKEN
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000

    service:
      app:
        controller: garage-webui
        ports:
          http:
            port: &port 3909

    route:
      app:
        hostnames: ["garage.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: gateway
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
