---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          route53:
            region: "${SECRET_AWS_REGION}"
            accessKeyIDSecretRef:
              name: cert-manager-secret
              key: aws-access-key-id
            secretAccessKeySecretRef:
              name: cert-manager-secret
              key: aws-secret-access-key
        selector:
          dnsZones: ["${SECRET_DOMAIN}"]
