# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx
spec:
  chartRef:
    kind: OCIRepository
    name: nginx
  interval: 1h
  values:
    controllers:
      nginx:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/nginx/nginx-unprivileged
              tag: 1.29.3-alpine3.22-perl@sha256:f1444b4f78f91b0c42dedc01b55972f4d759e7fcbabdf5d5a5e2f0690234eef4
            env:
              TZ: ${TIMEZONE}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
          git-sync:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1@sha256:1df295fdab03031f932f2b7dae82fa19bd77334e2510c311bbdfc7e09ef49ece
            env:
              GITSYNC_REPO: https://github.com/npawelek/firmware.git
              GITSYNC_REF: main
              GITSYNC_PERIOD: 60s
              GITSYNC_ROOT: /git
              GITSYNC_LINK: current
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 101
        runAsGroup: 101
        fsGroup: 101
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: nginx
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["int.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: gateway
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        type: configMap
        name: nginx-config
        globalMounts:
          - path: /etc/nginx/conf.d/nginx.conf
            subPath: nginx.conf
      git:
        type: emptyDir
        advancedMounts:
          nginx:
            git-sync:
              - path: /git
            app:
              - path: /usr/share/nginx/html
                subPath: current
                readOnly: true
