# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: whisper
spec:
  chartRef:
    kind: OCIRepository
    name: whisper
  interval: 1h
  values:
    controllers:
      whisper:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: rhasspy/wyoming-whisper
              tag: 3.1.0@sha256:9501d2659eee83b6eead98d53842193e5fed011eda6c5b1c3ad36f3146b28fed
            args:
              - --model
              - small.en
              - --compute-type
              - int8
              - --beam-size
              - "1"
            env:
              TZ: ${TIMEZONE}
              HF_HOME: /data/huggingface
            resources:
              requests:
                memory: 250Mi
                cpu: 500m
              limits:
                memory: 5000Mi
    service:
      whisper:
        controller: whisper
        ports:
          http:
            port: 10300
            protocol: TCP
    persistence:
      data:
        type: persistentVolumeClaim
        existingClaim: whisper-data
        globalMounts:
          - path: /data
