---
apiVersion: v1
kind: Secret
metadata:
  name: cert-manager-secret
stringData:
  credentials: |-
    [default]
    aws_access_key_id = "{{ bootstrap_certmanager_aws_access_key }}"
    aws_secret_access_key = "{{ bootstrap_certmanager_aws_secret_access_key }}"
  config: |-
    [default]
    region = "{{ bootstrap_aws_region }}"
