---
apiVersion: v1
kind: Secret
metadata:
  name: aws-ddns-secret
stringData:
  AWS_REGION: "{{ bootstrap_aws_region }}"
  AWS_ACCESS_KEY: "{{ bootstrap_terraform_aws_access_key }}"
  AWS_SECRET_ACCESS_KEY: "{{ bootstrap_terraform_aws_secret_access_key }}"
  TF_VAR_AWS_DOMAIN: "{{ bootstrap_aws_domain }}"
  TF_VAR_INGRESS_INTERNAL: "{{ bootstrap_internal_ingress_addr }}"
  TF_VAR_INGRESS_EXTERNAL: "{{ bootstrap_external_ingress_addr }}"
