---
apiVersion: v1
kind: Secret
metadata:
  name: aws-ddns-secret-backend
stringData:
  backend.tf: |-
    terraform {
      backend "s3" {
        acl        = "private"
        encrypt    = true
        bucket     = "{{ bootstrap_terraform_state_s3_bucket }}"
        key        = "{{ bootstrap_terraform_state_s3_key }}"
        kms_key_id = "{{ bootstrap_terraform_state_kms_arn }}"
        region     = "{{ bootstrap_aws_region }}"
      }
    }
