---
apiVersion: v1
kind: Secret
metadata:
  name: cert-manager-secret
stringData:
  aws-access-key-id: "#{ certmanager_aws_access_key_id }#"
  aws-secret-access-key: "#{ certmanager_aws_secret_key }#"
