---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: longhorn-jobs
spec:
  dependsOn:
    - name: longhorn
  interval: 1h
  path: ./kubernetes/apps/longhorn-system/longhorn/jobs
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: longhorn-system
  wait: true
  retryInterval: 1m
  timeout: 5m
