---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: longhorn-storageclasses
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/longhorn-system/longhorn/storageclasses
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
