---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chart:
    spec:
      chart: authentik
      version: 2025.12.1
      sourceRef:
        kind: HelmRepository
        name: authentik
  interval: 1h
  valuesFrom:
    - kind: Secret
      name: authentik-secrets
      valuesKey: secret-key
      targetPath: authentik.secret_key
    - kind: Secret
      name: authentik-secrets
      valuesKey: email-host
      targetPath: authentik.email.host
    - kind: Secret
      name: authentik-secrets
      valuesKey: email-username
      targetPath: authentik.email.username
    - kind: Secret
      name: authentik-secrets
      valuesKey: email-password
      targetPath: authentik.email.password
    - kind: Secret
      name: authentik-secrets
      valuesKey: email-from
      targetPath: authentik.email.from
    - kind: Secret
      name: credentials-authentik
      valuesKey: username
      targetPath: authentik.postgresql.user
    - kind: Secret
      name: credentials-authentik
      valuesKey: password
      targetPath: authentik.postgresql.password
  values:
    global:
      image:
        repository: ghcr.io/goauthentik/server
        tag: 2025.10.3

      affinity:
        podAntiAffinity: hard

      deploymentStrategy:
        type: Recreate

      env:
        - name: TZ
          value: ${TIMEZONE}
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: require

    authentik:
      log_level: info
      error_reporting:
        enabled: false
        send_pii: false

      email:
        port: 587
        use_tls: true

      postgresql:
        host: authentik-postgres-rw
        name: authentik

      embeddedOutpost:
        enabled: true

    server:
      replicas: 2

      pdb:
        enabled: true
        maxUnavailable: 1

      ingress:
        enabled: false

      route:
        main:
          enabled: true
          hostnames:
            - "auth.${SECRET_DOMAIN}"
          parentRefs:
            - name: envoy-internal
              namespace: gateway
              sectionName: https

      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: 2000m
          memory: 2Gi

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true

    worker:
      replicas: 2

      pdb:
        enabled: true
        maxUnavailable: 1

      resources:
        requests:
          cpu: 100m
          memory: 512Mi
        limits:
          cpu: 2000m
          memory: 2Gi

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true

    postgresql:
      enabled: false

    redis:
      enabled: false

    serviceAccount:
      create: true

    prometheus:
      rules:
        enabled: true
