---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: authentik-redis-data
  labels:
    recurring-job-group.longhorn.io/backup-6h: enabled
    recurring-job-group.longhorn.io/default: enabled
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
