---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: authentik-outpost
  namespace: auth
spec:
  from:
    # Allow SecurityPolicy resources from these namespaces to reference the authentik outpost service
    - group: gateway.envoyproxy.io
      kind: SecurityPolicy
      namespace: echo
    - group: gateway.envoyproxy.io
      kind: SecurityPolicy
      namespace: longhorn-system
    # Add more namespaces here as you protect more apps
  to:
    - group: ""
      kind: Service
      name: ak-outpost-proxy-outpost
