---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tofu-controller
spec:
  chartRef:
    kind: OCIRepository
    name: tofu-controller
  interval: 1h
  values:
    replicaCount: 2
    concurrency: 24
    allowCrossNamespaceRefs: true

    image:
      tag: v0.16.0-rc.7

    runner:
      image:
        tag: v0.16.0-rc.7
      grpc:
        maxMessageSize: 30
      resources:
        limits:
          cpu: 1000m
          memory: 2Gi
        requests:
          cpu: 400m
          memory: 64Mi

    metrics:
      enabled: true

    securityContext:
      runAsNonRoot: true
      runAsUser: 65532
      fsGroup: 65532
      seccompProfile:
        type: RuntimeDefault

    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
      fsGroup: 65532
