---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tofu-controller
  namespace: flux-system
spec:
  chartRef:
    kind: OCIRepository
    name: tofu-controller
  interval: 1h
  values:
    replicaCount: 1

    runner:
      image:
        repository: ghcr.io/flux-iac/tofu-controller
        tag: v0.16.0-rc.7

      resources:
        limits:
          cpu: 1000m
          memory: 1Gi
        requests:
          cpu: 200m
          memory: 256Mi

    metrics:
      enabled: true

    securityContext:
      runAsNonRoot: true
      runAsUser: 65532
      fsGroup: 65532
      seccompProfile:
        type: RuntimeDefault

    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65532
      fsGroup: 65532
