---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: tofu-controller
  namespace: flux-system
spec:
  interval: 12h
  url: oci://ghcr.io/flux-iac/charts/tofu-controller
  ref:
    tag: 0.16.0-rc.7
