---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cluster_domain }#"
  SECRET_AWS_REGION: "#{ aws_region }#"
  CERTMANAGER_AWS_ACCESS_KEY_ID: "#{ certmanager_aws_access_key_id }#"
  CERTMANAGER_AWS_SECRET_KEY: "#{ certmanager_aws_secret_key }#"
  EXTERNALDNS_AWS_ACCESS_KEY_ID: "#{ externaldns_aws_access_key_id }#"
  EXTERNALDNS_AWS_SECRET_KEY: "#{ externaldns_aws_secret_key }#"
