---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hajimari
spec:
  chart:
    spec:
      chart: hajimari
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: hajimari
  interval: 1h
  values:
    controllers:
      hajimari:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/toboshii/hajimari
              tag: v0.3.1@sha256:2ee4cab12878fd0771092bf1b7e271f2715731d2ba60d92461f8010094cda994
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 256Mi
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: gateway
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 3000
    persistence:
      data:
        existingClaim: hajimari-config
        globalMounts:
          - path: /data
    configMaps:
      config:
        data:
          config.yaml: |
            defaultEnable: false
            namespaceSelector:
              any: true
            name: "Nathan"
            darkTheme: "chalk"
            defaultSearchProvider: "DuckDuckGo"
            showAppStatus: true
            globalBookmarks:
              - group: node
                bookmarks:
                  - name: home-ops
                    url: https://github.com/npawelek/home-ops
                  - name: Firmware
                    url: https://github.com/npawelek/firmware
              - group: network
                bookmarks:
                  - name: UniFi Network
                    url: https://udmp.${SECRET_DOMAIN}/network/default/dashboard
                  - name: UniFi Protect
                    url: https://udmp.${SECRET_DOMAIN}/protect/dashboard
                  - name: UDM-Pro
                    url: https://udmp.${SECRET_DOMAIN}/settings/updates
              - group: storage
                bookmarks:
                  - name: Synology DS1512+
                    url: https://derpnas.${SECRET_DOMAIN}:8079
                  - name: Synology RS1221+
                    url: https://racknas.${SECRET_DOMAIN}:8079
              - group: miscellaneous
                bookmarks:
                  - name: HyperHDR Samsung 55
                    url: https://hyp-samsung55.${SECRET_DOMAIN}
                  - name: Octoprint
                    url: https://octopi.${SECRET_DOMAIN}
                  - name: Valetudo (Floofeater)
                    url: http://192.168.10.146
                  - name: Valetudo (Rosie)
                    url: http://192.168.10.145
                  - name: HDHomeRun
                    url: http://192.168.20.98/
