---
apiVersion: v1
kind: Secret
metadata:
  name: external-dns-secret
stringData:
  credentials: |-
    [default]
    aws_access_key_id = "{{ bootstrap_externaldns_aws_access_key }}"
    aws_secret_access_key = "{{ bootstrap_externaldns_aws_secret_access_key }}"
