---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-remux-config
  labels:
    recurring-job-group.longhorn.io/backup-24h: enabled
    recurring-job-group.longhorn.io/default: enabled
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
  storageClassName: longhorn
  volumeName: pvc-19962c15-f190-4bc6-a30e-9a561dbfc589
