# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: metallb
      version: v0.15.3
      sourceRef:
        kind: HelmRepository
        name: metallb
  values:
    crds:
      enabled: true

    controller:
      resources: &resources
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 500m
          memory: 256Mi
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          effect: NoSchedule

    speaker:
      resources: *resources

      frr:
        resources: *resources
