---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./external-dns/ks.yaml
  - ./external-dns/endpoints/ks.yaml
  - ./externalname/ks.yaml
  - ./speedtest/ks.yaml
